:root {
}

body {
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}
body,
header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  height: 40px;
  width: 80%;
  margin-bottom: 12px;
}

#search-form {
  gap: 18px;
}

main {
  width: clamp(750px, 80%, 90%);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  height: 80%;
}

#main-div {
  grid-area: 1/1/2/2;
  background-color: blue;
}

#details-div {
  grid-area: 1/2/2/2;
  background-color: red;
}

#forecast-div {
  grid-area: 2/1/3/3;
  background-color: black;
}
